{% extends "utils/_template.html" %}   
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Home</title>       
    {% endblock %}
    
    {% block body %}
        <div class="games">
            <ul id="gamelist"></ul>
        </div>
    {% endblock %}
    
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" 
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% endblock %}