{% extends "utils/_template.html" %}   
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Home</title>       
    {% endblock %}
    
    {% block body %}
        <main>
            <div class="games">
                <ul id="gamelist"></ul>
            </div>
        </main>
    {% endblock %}
    
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% endblock %}