{% extends "utils/_template.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Login</title>       
    {% endblock %}

    {% block body %}
        {% from "utils/_formhelpers.html" import render_field %}
        <div style="padding:2%;">
            <form action="/login/authenticate" method="post" enctype="multipart/form-data">
                <div >
                    {{ render_field( form.username ) }}
                    {{ render_field( form.password ) }}
                </div>
                <input type="submit" value="login">
            </form>
        </div>
    {% endblock %}