{% extends "utils/_template.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Login</title>       
    {% endblock %}

    {% block body %}
        <main>
            <div style="padding:2%;">
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset >
                        <label for="username">Username</label>
                        <input name="username" type="text"> 

                        <label for="password">Password</label>
                        <input name="password" type="text"> 
                    </fieldset>
                    <input type="submit" value="login">
                </form>
            </div>
        </main>
    {% endblock %}