header{
    background-color:#FFFFFF;
    align-items: center;
    border-radius: 0 0 50px 50px;
    height: 100px;
}
.box{
    position: relative;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.logo-title {
    color: rgb(72, 61, 139);
    font-weight: bold;
    line-height: 60px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s all;
}
.logo-title:hover{
    color: rgb(93, 63, 211);
}

.logo-title-link{
    text-transform: uppercase;
    text-decoration: none;
}

nav{
    position: absolute;
    right: 5%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}
#a-login{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    line-height: 40px;
    font-weight: bold;  
    font-size: 18px;
    transition: 1s all;
}