<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
        {% block head %}
        
        {% endblock %}
    </head> 
    <body>
        <header>
            <div class="box">
                <a class="logo-title-link" href="/"><span class="logo-title">STRAY</span></a>
                <nav>
                    <ul id="ul-header">
                        <li><a id="a-login" href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %} 
        
        {% endblock %}

        <script src="{{ url_for('static', filename='js/jquery/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/template.js') }}"></script>
        {% block scripts %}
           
        {% endblock %}
    </body>
</html>